datasets
aiohttp
transformers
jinja2
tqdm
matplotlib
scikit-learn
scipy==1.10.1
torch
peft
bitsandbytes
flash_attn
sentence_transformers
trl
"unsloth[cu121-ampere-torch230] @ git+https://github.com/unslothai/unsloth.git"
google-generativeai
gradio